*,
*::before,
*::after { box-sizing: border-box; }

html, body, #root { height: 100%; }

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--slateTextBody);
  background: var(--slateSurfaceWhite);
}

button { font-family: inherit; }
